

<header>
  <div class="navbar">
    <div>
      <img src="/assets/hamburger-menu.svg" alt="menu" class="hamburger-menu">
      <img src="/assets/youtube_logo.png" alt="Logo youtube" class="logo">
    </div>

    <div>
      <div class="search">
        <div class="input_area">
          <input placeholder="Pesquisar"/>
          <button class="keyboard_button">
            <img src="/assets/keyboard_svg.svg" alt="keyboard_svg">
          </button>
        </div>
        <button class="search_button">
          <img src="/assets/lupa_img.png" alt="pesquisa" class="lupa_img">
        </button>
      </div>
      <img title="Pesquisa com sua voz" src="/assets/microphone-svg.svg" alt="" class="microphone_icon">
    </div>

    <div>
      <i class="material-icons configs-icon" title="configurações">more_vert</i>
      <p class="login_link">
        <img src="/assets/person_svg.svg" alt="" class="person">
        Fazer login
      </p>
    </div>
  </div>
</header>
